body {
    background-color: #ebebeb;
    margin: 20px;
}

.page-border {
    border: solid #CACACA 1px;
    background-color: white;
    padding: 15px;

}
.status-block {
    position: fixed;
}
.side-bar {
    position: relative;
}

.editor-question-option-content {
    display: inline-block;
    width: 90%;
}
.editor-question-option {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
.editor-question-option input {
    vertical-align: top;
}
.question-option-content {
    display: inline-block;
    padding-left: 10px;
    width: 90%;
}
.question-option {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
.question-option input {
    vertical-align: top;
}
.question-list-question {
    border: solid 1px #CACACA;
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
}

.editable {
    border: dotted 2px gray;
}
.content-editor {
    position: absolute;
    display: block;
    background-color: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}