<div contentable class="contentable" ng-model="data.content.question_before"></div>
<span class="question-option" ng-repeat="choice in data.content.choices track by $index" ng-if="!(disabled&&previousAnswers&&previousAnswers.length>0)">


<img src="/static/img/16x16.png" ng-if="showResult&&(!answerIsRight()&&data.answers[0]!=$index||answerIsRight())"/>
<img src="/static/img/tick.png" ng-if="showResult&&!answerIsRight()&&data.answers[0]==$index"/>

<img src="/static/img/16x16.png" ng-if="showResult&&answer!=$index"/>
<img src="/static/img/tick.png" ng-if="showResult&&answerIsRight()&&answer==$index"/>
<img src="/static/img/cross.png" ng-if="showResult&&!answerIsRight()&&answer==$index"/>

<input ng-if="showResult" type="radio" disabled="disabled" ng-checked="answer==$index"/>

<input ng-if="!showResult" type="radio" ng-disabled="disabled||shouldBlockAnswer($index)" ng-model="$parent.$parent.$parent.answer" ng-value="$index"/>
<div contentable class="question-option-content contentable" ng-model="data.content.choices[$index]"></div>
</span>

<div ng-repeat="previousAnswer in previousAnswers | reverse track by $index">
 <span class="question-option" ng-repeat="choice in data.content.choices track by $index">
     <input type="radio" disabled="disabled" ng-checked="previousAnswer==$index"/>
     <div contentable class="question-option-content contentable" ng-model="data.content.choices[$index]"></div>
 </span>
</div>

<div contentable class="contentable" ng-model="data.content.question_after"></div>

