<div contentable class="contentable" ng-model="data.content.question_before" ng-disabled="disabled"></div>

<input class="form-control" type="text" ng-model="$parent.answer" ng-disabled="disabled" ng-if="!(disabled&&previousAnswers&&previousAnswers.length>0)"/>
<div ng-repeat="previousAnswer in previousAnswers | reverse track by $index">
    <input class="form-control" type="text" ng-model="previousAnswer" disabled/>
    <div ng-if="data.answers.length > 0">
        <h6>Feedback</h6>
        <div contentable ng-if="data.answers.indexOf(previousAnswer) >= 0" ng-model="data.feedback['right']"></div>
        <div contentable ng-if="data.answers.indexOf(previousAnswer) < 0" ng-model="data.feedback['wrong']"></div>
    </div>
</div>

<div contentable class="contentable" ng-model="data.content.question_after" ng-disabled="disabled"></div>

