<div contentable class="contentable" ng-model="data.content.question_before" ng-disabled="disabled"></div>

<textarea class="form-control" rows="10" ng-model="$parent.answer" ng-disabled="disabled" ng-if="!(disabled&&previousAnswers&&previousAnswers.length>0)"></textarea>
<textarea class="form-control" rows="10" disabled ng-repeat="previousAnswer in previousAnswers | reverse track by $index">
{{previousAnswer}}
</textarea>

<div contentable class="contentable" ng-model="data.content.question_after" ng-disabled="disabled"></div>

