<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${test.title} - Answers</title>
    <link rel="stylesheet" href="/static/css/app.min.css" />
</head>
<body style="background: white">
<h1>${test.title}</h1>
<h3>Student</h3>
Name: ${test_session.name | h}<br>
Student-Id: ${test_session.student_id | h}<br>
E-mail: ${test_session.email | h}<br>
% for key in sorted(test_session.answers.get("answers", {}).keys(), key=key_path):
    <h3>${key | h}: ${test.get_node(key).get("title", "") | h}</h3>
    % for index, answer in enumerate(test_session.answers["answers"][key]):
    <span>Answer ${index+1 | h}:</span>
    % if type(answer) is str:
    <p>${answer | h}</p>
    % elif type(answer) is list:
    <p>
        % for answer_element in answer:
        Option ${answer_element+1 | h},
        % endfor
    </p>
    % elif type(answer) is int:
    <p>Option ${answer+1 | h}</p>
    % endif
    % endfor
% endfor
</body>
</html>