<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${test.title} - Answers</title>
    <link rel="stylesheet" href="/static/css/app.min.css" />
</head>
<body style="background: white">
<h1>${test.title}</h1>
<h3>Student</h3>
Name: ${test_session.name | h}<br>
Student-Id: ${test_session.student_id | h}<br>
E-mail: ${test_session.email | h}<br>
% for key in sorted(test_session.answers.get("answers", {}).keys()):
    <h3>Question ${key | h}</h3>
    % for index, answer in enumerate(test_session.answers["answers"][key]):
    <span>Answer ${index+1 | h}:</span>
    <p>${answer | h}</p>
    % endfor
% endfor
</body>
</html>