<div class="content-editor">
    <a ng-mousedown="basicCommand('bold', $event)"><img src="/admin/static/img/text_bold.png" /></a>
    <a ng-mousedown="basicCommand('italic', $event)"><img src="/admin/static/img/text_italic.png" /></a>
    <a ng-mousedown="basicCommand('underline', $event)"><img src="/admin/static/img/text_underline.png" /></a>
    <a ng-mousedown="basicCommand('justifyLeft', $event)"><img src="/admin/static/img/text_align_left.png" /></a>
    <a ng-mousedown="basicCommand('justifyCenter', $event)"><img src="/admin/static/img/text_align_center.png" /></a>
    <a ng-mousedown="basicCommand('justifyRight', $event)"><img src="/admin/static/img/text_align_right.png" /></a>
    <a ng-mousedown="editLink($event)"><img src="/admin/static/img/link_add.png" /></a>
    <a ng-mousedown="basicCommand('unlink', $event)"><img src="/admin/static/img/link_break.png" /></a>
    <a ng-mousedown="editHtml($event)"><img src="/admin/static/img/html_go.png" /></a>
    <a ng-mousedown="addImage($event)"><img src="/admin/static/img/image_add.png" /></a>
</div>