<label>Question</label><br>
<div class="editable" contenteditable ng-model="data.content.question_before" ng-disabled="disabled"></div><br>

<span class="editor-question-option" ng-repeat="choice in data.content.choices track by $index">
<input type="checkbox" disabled="disabled" />
    <div class="editor-question-option-content editable" contenteditable ng-model="data.content.choices[$index]" ng-disabled="disabled"></div>
    <a href="" ng-click="deleteChoice($index)"><img src="/admin/static/img/cross.png" /></a>
</span>

<a href="" ng-click="addChoice()"><img src="/admin/static/img/add.png" /></a>

<div class="editable" contenteditable ng-model="data.content.question_after" ng-disabled="disabled"></div><br>
