<div>
    <tabset ng-if="!inline">
        <tab heading="Content">
            <span>Type</span>
            <select ng-model="data.type" ng-disabled="disabled" ng-change="onTypeChange(data.type, '{{data.type}}')">
                <option value="choice">Choice</option>
                <option value="multiplechoice">Multiple choice</option>
                <option value="open">Open</option>
                <option value="text">Text</option>
            </select>
            <br>
            <choice-question-editor ng-if="data.type=='choice'" ng-disabled="disabled"
                                    data="data"></choice-question-editor>
            <multiplechoice-question-editor ng-if="data.type=='multiplechoice'" ng-disabled="disabled"
                                            data="data"></multiplechoice-question-editor>
            <open-question-editor ng-if="data.type=='open'" ng-disabled="disabled" data="data"></open-question-editor>
            <text-question-editor ng-if="data.type=='text'" ng-disabled="disabled" data="data"></text-question-editor>
        </tab>
        <tab ng-if="!inline" heading="Answers">
            <choice-question-answer-editor ng-if="data.type=='choice'" ng-disabled="disabled"
                                           data="data"></choice-question-answer-editor>
            <multiplechoice-question-answer-editor ng-if="data.type=='multiplechoice'" ng-disabled="disabled"
                                                   data="data"></multiplechoice-question-answer-editor>
            <open-question-answer-editor ng-if="data.type=='open'" ng-disabled="disabled"
                                         data="data"></open-question-answer-editor>
            <text-question-answer-editor ng-if="data.type=='text'" ng-disabled="disabled"
                                         data="data"></text-question-answer-editor>
        </tab>
        <tab ng-if="!inline" heading="Feedback">
            <label>Wrong</label><br>

            <div class="editable" contenteditable ng-model="data.feedback.wrong" ng-disabled="disabled"></div>
            <br>

            <label>Right</label><br>

            <div class="editable" contenteditable ng-model="data.feedback.right" ng-disabled="disabled"></div>
        </tab>
        <tab heading="Metadata">
            <question-metadata-editor data="data" ng-disabled="disabled"></question-metadata-editor>
        </tab>
        <tab ng-if="!inline&&!intest" heading="Permissions">
            <div ng-if="loadingUsers">
                Loading the user list
            </div>
            <div ng-if="!loadingUsers">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Owners</label>

                        <div class="col-sm-10">
                            <div class="row" ng-repeat="owner_id in data.owners track by $index">
                                <div class="form-control-static col-sm-5">{{getUserById(owner_id).fullname}}
                                    ({{getUserById(owner_id).username}})
                                </div>
                                <a href="" class="btn btn-default" ng-if="canRemoveOwner(owner_id)&&!disabled"
                                   ng-click="deleteOwner($index)">Delete</a>
                            </div>
                            <div class="row">
                                <ui-select class="col-sm-5" ng-model="newReviewer.id" theme="bootstrap" ng-disabled="disabled">
                                    <ui-select-match allow-clear="true" placeholder="Enter user to add">
                                        {{$select.selected.fullname}} ({{$select.selected.username}})
                                    </ui-select-match>
                                    <ui-select-choices repeat="user.id as user in users | filter: filterOwners">
                                        {{user.fullname}} ({{user.username}})
                                    </ui-select-choices>
                                </ui-select>
                                <a ng-disabled="disabled" href="" ng-click="addOwner()" class="btn btn-default">Add</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </tab>

    </tabset>
    <div ng-if="inline">
        <span>Type</span>
        <select ng-model="data.type" ng-disabled="disabled" ng-change="onTypeChange(data.type, '{{data.type}}')">
            <option value="choice">Choice</option>
            <option value="multiplechoice">Multiple choice</option>
            <option value="open">Open</option>
            <option value="text">Text</option>
        </select>
         <a href="" ng-click="openMetadataModal()">Edit metadata</a>
        <br>
        <question ng-disabled="disabled" data="data"></question>
    </div>
</div>