<div>
    <choice-question-editor ng-if="data.type=='choice'" ng-disabled="disabled" data="data" answer="answer" show-result="showResult"></choice-question-editor>
    <multiplechoice-question-editor ng-if="data.type=='multiplechoice'" ng-disabled="disabled"
                                    data="data" answer="answer" show-result="showResult"></multiplechoice-question-editor>
    <open-question-editor ng-if="data.type=='open'" ng-disabled="disabled" data="data" answer="answer" show-result="showResult"></open-question-editor>
    <text-question-editor ng-if="data.type=='text'" ng-disabled="disabled" data="data" answer="answer" show-result="showResult"></text-question-editor>

</div>