<tabset>
    <tab heading="Content">
        <label>Title</label><input type="text" ng-model="data.title"/>

        <div ng-repeat="element in data.content track by $index">
            <button ng-click="deleteElement($index)">Delete</button>
            <button ng-if="!$first" ng-click="moveElementUp($index)">Up</button>
            <button ng-if="!$last" ng-click="moveElementDown($index)">Down</button>
            <button ng-if="data.content[$index].data.id!=undefined" ng-click="makeQuestionLocal($index)">Edit</button>
            <br>
            <question-editor ng-if="data.content[$index].type=='question'" ng-disabled="data.content[$index].data.id!=undefined" inline="true"
                             data="data.content[$index].data"></question-editor>
            <test-text-editor ng-if="data.content[$index].type=='text'"
                              data="data.content[$index].data"></test-text-editor>

        </div>
        <div>
            <button ng-click="addTextElement()">Add text element</button>
            <button ng-click="addNewQuestionElement()">Add new question</button>
            <button ng-click="addExistingQuestionElement()">Add exisisting question</button>
        </div>
    </tab>
    <tab heading="Feedback">
        <h2>Question feedback</h2>
            <div ng-if="data.content[$index].type=='question'" ng-repeat="element in data.content track by $index">
                {{data.content[$index].data}}
            </div>
        <h2>Score feedback</h2>
    </tab>
    <tab heading="Planning">
        <label>Status</label>
        {{data.planning.status}} <button ng-click="openTest()">Plan test</button><button ng-click="openTestNow()">Open Test</button> <br>
        <label>Invite mode</label>
        <select ng-model="data.planning.invite_mode">
            <option value="url_request">URL to request invite by e-mail</option>
            <option value="url_login">URL to login</option>
            <option value="code">Code</option>
            <option value="email">Email</option>
        </select><br>
        <label>Start</label>
        <datepicker ng-model="data.planning.start_date"></datepicker>
        <timepicker ng-model="data.planning.start_date" show-meridian="false"></timepicker>
        <label>End</label>
        <datepicker min-date="data.planning.start_date" ng-model="data.planning.end_date"></datepicker>
        <timepicker min-date="data.planning.start_date" ng-model="data.planning.end_date" show-meridian="false"></timepicker>
    </tab>
    <tab heading="Permissions">
        TODO
    </tab>

</tabset>