<div>
    <a href="" class="btn btn-default" ng-if="isOwner()" ng-disabled="!test.id" ng-click="add()">Add</a>
    <a href="" class="btn btn-default" ng-click="loadTestSessions()"  ng-disabled="!test.id" >Refresh</a>
    <a href="" class="btn btn-default" ng-if="isOwner()" ng-click="import()"  ng-disabled="!test.id" >Import</a>
    <a href="/test_session/{{test.id}}/export" target="_blank" ng-if="isOwner()" class="btn btn-default"  ng-disabled="!test.id" >Export</a>
<table class="table">
    <thead>
    <tr>
        <th class="col-md-3">Email <a href="" ng-click="setAndToggleSort('email')">Sort</a></th>
        <th class="col-md-3">Name <a href="" ng-click="setAndToggleSort('name')">Sort</a></th>
        <th class="col-md-2">Student-ID <a href="" ng-click="setAndToggleSort('student_id')">Sort</a></th>
        <th class="col-md-1">Status <a href="" ng-click="setAndToggleSort(getTestSessionStatus)">Sort</a></th>
        <th class="col-md-3">Action</th>
    </tr>
    </thead>
    <tbody ng-if="!loading">
    <tr ng-repeat="test_session in test_sessions | filter:{$: search} | orderBy:sort_column:sort_reverse">
        <td>{{test_session.email}}</td>
        <td>{{test_session.name}}</td>
        <td>{{test_session.student_id}}</td>
        <td>{{getTestSessionStatus(test_session)}}</td>
        <td>
            <a href="" class="btn btn-default" ng-click="edit($index)">Edit</a>
            <a href="" class="btn btn-default" ng-if="test.type=='basic'" ng-click="review($index)">Review</a>
            <a href="{{test_session.invite_url}}" target="_blank" class="btn btn-default" ng-if="test.type=='tree'&&test_session.feedback_at!=null">See answers</a>
            <a href="" class="btn btn-default" ng-click="delete($index)" ng-if="isOwner()">Delete</a>
            <a href="" class="btn btn-default" ng-if="test_session.closed_at==null && test.opened_at!=null && test.closed_at==null" ng-click="sendInvite(test_session.id)">Send invite</a>
            <a href="" class="btn btn-default" ng-if="test_session.reviewed_at!=null" ng-click="sendFeedback(test_session.id)">Send feedback</a>

        </td>
    </tr>
    </tbody>
    <tbody ng-if="loading&&test.id">
    <tr>
        <td colspan="5">Loading...</td>
    </tr>
    </tbody>

    <tbody ng-if="loading&&!test.id">
    <tr>
        <td colspan="5">Test is not saved</td>
    </tr>
    </tbody>


</table>
</div>