<tabset>
    <tab heading="Content">
        <h1 class="editable" contenteditable ng-model="data.title" ng-disabled="!isPlanned()" ng-text="true"></h1>

        <div ng-repeat="element in data.content track by $index">
            <button ng-if="isPlanned()" ng-click="deleteElement($index)">Delete</button>
            <button ng-if="!$first && isPlanned()" ng-click="moveElementUp($index)">Up</button>
            <button ng-if="!$last && isPlanned()" ng-click="moveElementDown($index)">Down</button>
            <button ng-if="data.content[$index].data.id!=undefined && isPlanned()" ng-click="makeQuestionLocal($index)">Edit</button>
            <br>
            <question-editor ng-if="data.content[$index].type=='question'"
                             ng-disabled="data.content[$index].data.id!=undefined || !isPlanned()" inline="true"
                             data="data.content[$index].data"></question-editor>
            <test-text-editor ng-if="data.content[$index].type=='text'"
                              ng-disabled="!isPlanned()"
                              data="data.content[$index].data"></test-text-editor>

        </div>
        <div>
            <button ng-if="isPlanned()" ng-click="addTextElement()">Add text element</button>
            <button ng-if="isPlanned()" ng-click="addNewQuestionElement()">Add new question</button>
            <button ng-if="isPlanned()" ng-click="addExistingQuestionElement()">Add existing question</button>
        </div>
    </tab>
    <tab heading="Answers">
    <div ng-repeat="question in data.content | filter: {'type':'question'}">
        <h4>Question {{$index+1}}</h4><button ng-if="question.data.id!=undefined" ng-click="makeQuestionLocal(questionToContentIndex($index))">Edit</button>
        <choice-question-answer-editor ng-if="question.data.type=='choice'" data="question.data" ng-disabled="question.data.id"></choice-question-answer-editor>
        <multiplechoice-question-answer-editor ng-if="question.data.type=='multiplechoice'" data="question.data" ng-disabled="question.data.id"></multiplechoice-question-answer-editor>
        <open-question-answer-editor ng-if="question.data.type=='open'" data="question.data" ng-disabled="question.data.id"></open-question-answer-editor>
    </div>
    </tab>
    <tab heading="Feedback">
        <h2>Default feedback</h2>
        <label>Wrong</label><br>
        <div class="editable" contenteditable ng-model="data.default_feedback.wrong"></div>
        <br>
        <label>Right</label><br>
        <div class="editable" contenteditable ng-model="data.default_feedback.right"></div>
        <h2>Question feedback</h2>
        <div ng-repeat="question in data.content | filter: {'type':'question'}">
            <h4>Question {{$index+1}}</h4>
            <label>Wrong</label>
             <a href="" ng-click="insertTestDefaultFeedback($index, 'wrong')">Insert test default</a>
             <a href="" ng-click="insertQuestionDefaultFeedback($index, 'wrong')" ng-if="data.content[questionToContentIndex($index)].data.feedback['wrong']">Insert question default</a><br>
            <div class="editable" contenteditable ng-model="data.question_feedback[$index].wrong"></div>
            <label>Right</label>
             <a href="" ng-click="insertTestDefaultFeedback($index, 'right')">Insert test default</a>
            <a href="" ng-click="insertQuestionDefaultFeedback($index, 'right')"  ng-if="data.content[questionToContentIndex($index)].data.feedback['right']">Insert question default</a><br>
            <div class="editable" contenteditable ng-model="data.question_feedback[$index].right"></div>
        </div>
        <h2>Score feedback</h2>
        <div ng-repeat="total_feedback in data.total_feedback">
            <label>From</label>
            <select ng-model="total_feedback.min" ng-disabled="true">
                <option ng-repeat="option in getTotalFeedbackRange($index, true)">{{option}}</option>
            </select>
            <label>To</label>
            <select ng-model="total_feedback.max"  ng-change="onTotalFeedbackRangeChange($index, false)" ng-disabled="$index == data.total_feedback.length-1">
                <option ng-repeat="option in getTotalFeedbackRange($index, false)" ng-value="option">{{option}}</option>
            </select>
            <a href="" ng-click="removeTotalFeedback($index)">Remove</a>
            <div class="editable" contenteditable ng-model="total_feedback.feedback"></div>
        </div>
        <a href="" ng-click="addTotalFeedback()" ng-if="data.total_feedback.length <= data.question_feedback.length">Add feedback option</a>
    </tab>
    <tab heading="Planning">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="is_template" class="col-sm-2 control-label">Is template</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" class="" id="is_template" ng-model="data.is_template" ng-disabled="!isPlanned()"  />&NonBreakingSpace;</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="open_at" class="col-sm-2 control-label">Open at</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" datetime-picker ng-min="now" ng-model="data.open_at" ng-disabled="!isPlanned()" id="open_at" />
                    <a href="" ng-if="isPlanned()" ng-click="openTest()" class="btn btn-default">Open now</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Opened at</label>
                <div class="col-sm-10">
                    <div class="form-control-static">
                        <input ng-if="!isPlanned()" type="text" class="form-control" datetime-picker ng-model="data.opened_at" ng-disabled="true" />
                        <span ng-if="isPlanned()">not yet</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="close_at" class="col-sm-2 control-label">Close at</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" datetime-picker ng-min="data.open_at" ng-model="data.close_at" ng-disabled="isClosed()" id="close_at" />
                    <a href="" ng-if="isOpened()" ng-click="closeTest()" class="btn btn-default">Close now</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Closed at</label>
                <div class="col-sm-10">
                    <div class="form-control-static">
                        <input ng-if="isClosed()" type="text" class="form-control" datetime-picker ng-model="data.closed_at" ng-disabled="true" />
                        <span ng-if="!isClosed()">not yet</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="feedback_timing" class="col-sm-2 control-label">Feedback timing</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="data.feedback_timing" id="feedback_timing">
                        <option value="never">Never send feedback</option>
                        <option value="at">Send feedback at</option>
                        <option value="after">Send feedback after</option>
                    </select>
                </div>
            </div>
            <div ng-if="data.feedback_timing=='at'" class="form-group">
                <label for="feedback_at" class="col-sm-2 control-label">Feedback at</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" datetime-picker ng-min="data.close_at" ng-model="data.feedback_at" id="feedback_at" />
                </div>
            </div>
            <div ng-if="data.feedback_timing=='after'" class="form-group">
                <label for="feedback_after" class="col-sm-2 control-label">Feedback after</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" ng-model="data.feedback_after" id="feedback_after" /> minutes
                </div>
            </div>
            <div class="form-group">
                <label for="invite_method" class="col-sm-2 control-label">Invite method</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="data.invite_method" id="invite_method" ng-disabled="!isPlanned()">
                        <option value="link">Using a link to request an access-code</option>
                        <option value="email">By sending an e-mail with an access-code</option>
                        <option value="code">By providing the an access-code manually</option>
                        <option value="login">By logging in</option>
                        <option value="secure">By using an secure access-code</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="invite_url" class="col-sm-2 control-label">Invite URL</label>
                <div class="col-sm-10">
                    <div id="invite_url" class="form-control-static">{{data.invite_url}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="review_method" class="col-sm-2 control-label">Review method</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="data.review_method" id="review_method" ng-disabled="!isPlanned()">
                        <option value="automatic">Automatically</option>
                        <option value="manual">Manually</option>
                    </select>
                </div>
            </div>
            <div ng-if="data.review_method=='manual'" class="form-group">
                <label for="review_anonymous" class="col-sm-2 control-label">Review anonymously</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" class="" id="review_anonymous" ng-model="data.review_anonymous" ng-disabled="!isPlanned()"  />&NonBreakingSpace;</label>
                    </div>
                </div>
            </div>
        </form>

    </tab>
    <tab heading="Results">
        <test-session-list test="data"></test-session-list>
    </tab>
    <tab heading="Permissions">
        <div ng-if="loadingUsers">
            Loading the user list
        </div>
        <div ng-if="!loadingUsers">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Owners</label>

                    <div class="col-sm-10">
                        <div class="row" ng-repeat="owner_id in data.owners track by $index">
                            <div class="form-control-static col-sm-5">{{getUserById(owner_id).fullname}}
                                ({{getUserById(owner_id).username}})
                            </div>
                            <a href="" class="btn btn-default" ng-if="canRemoveOwner(owner_id)"
                               ng-click="deleteOwner($index)">Delete</a>
                        </div>
                        <div class="row">
                            <ui-select class="col-sm-5" ng-model="newOwner.id" theme="bootstrap">
                                <ui-select-match allow-clear="true" placeholder="Enter user to add">
                                    {{$select.selected.fullname}} ({{$select.selected.username}})
                                </ui-select-match>
                                <ui-select-choices repeat="user.id as user in users | filter: filterOwners">
                                    {{user.fullname}} ({{user.username}})
                                </ui-select-choices>
                            </ui-select>
                            <a href="" ng-click="addOwner()" class="btn btn-default">Add</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Reviewers</label>

                    <div class="col-sm-10">
                        <div class="row" ng-repeat="reviewer_id in data.reviewers track by $index">
                            <div class="form-control-static col-sm-5">{{getUserById(reviewer_id).fullname}}
                                ({{getUserById(reviewer_id).username}})
                            </div>
                            <a href="" class="btn btn-default"
                               ng-click="deleteReviewer($index)">Delete</a>
                        </div>
                        <div class="row">
                            <ui-select class="col-sm-5" ng-model="newReviewer.id" theme="bootstrap">
                                <ui-select-match allow-clear="true" placeholder="Enter user to add">
                                    {{$select.selected.fullname}} ({{$select.selected.username}})
                                </ui-select-match>
                                <ui-select-choices repeat="user.id as user in users | filter: filterReviewers">
                                    {{user.fullname}} ({{user.username}})
                                </ui-select-choices>
                            </ui-select>
                            <a href="" ng-click="addReviewer()" class="btn btn-default">Add</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </tab>

</tabset>