{{data}}
<tabset>
    <tab heading="Content">
        <h1 class="editable" contenteditable ng-model="data.title" ng-disabled="!isPlanned()" ng-text="true"></h1>

        <div class="row">
            <div class="col-xs-8">
                {{editElement}}
                <h2 class="editable" contenteditable ng-model="editElement.title" ng-text="true" ng-if="editElement" ng-disabled="!isPlanned()"></h2>
                <test-text-editor ng-if="editElement.type=='text' || editElement.type=='depth'" data="editElement.data" ng-disabled="!isPlanned()"></test-text-editor>
                <question-editor data="editElement.data" ng-if="editElement.type=='question'" intest="true" ng-disabled="!isPlanned()"></question-editor>
                <route-question-editor data="editElement.data" ng-if="editElement.type=='route'" ng-disabled="!isPlanned()"></route-question-editor>
                <div ng-if="editElement && editElement.type!='route'" ng-repeat="child in editElement.children track by $index">
                    <a href="" ng-click=""><span class="editable" contenteditable ng-model="editElement.child_labels[$index]" ng-text="true" ng-disabled="!isPlanned()"></span></a>
                    <a href="" ng-click="deleteChild($index)" ng-if="isPlanned()"><img src="/admin/static/img/cross.png"></a><br>
                </div>
                <div ng-if="editElement && editElement.type!='route' && isPlanned()" >
                    <a href="" class="btn btn-default" ng-click="addChild()">Add child</a>
                </div>
            </div>
            <div class="col-xs-4">
                <tree-test-tree content="data.content" depth="0" path="" ng-disabled="!isPlanned()" edit-element-handler="onEditElement" is-edit-element="isEditElement"></tree-test-tree>
            </div>
        </div>
    </tab>
    <tab heading="Planning">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="is_template" class="col-sm-2 control-label">Is template</label>

                <div class="col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" class="" id="is_template" ng-model="data.is_template"
                                      ng-disabled="!isPlanned()"/>&NonBreakingSpace;</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="open_at" class="col-sm-2 control-label">Open at</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" datetime-picker ng-model="data.open_at"
                           ng-if="isPlanned()" id="open_at"/>
                    <input type="text" class="form-control" datetime-picker ng-model="data.open_at"
                           ng-if="!isPlanned()" ng-disabled="true" id="open_at"/>
                    <a href="" ng-if="isPlanned()" ng-click="openTest()" class="btn btn-default">Open now</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Opened at</label>

                <div class="col-sm-10">
                    <div class="form-control-static">
                        <input ng-if="!isPlanned()" type="text" class="form-control" datetime-picker
                               ng-model="data.opened_at" ng-disabled="true"/>
                        <span ng-if="isPlanned()">not yet</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="close_at" class="col-sm-2 control-label">Close at</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" datetime-picker
                           ng-model="data.close_at" ng-if="!isClosed()" id="close_at" ng-min="data.open_at"/>
                    <input type="text" class="form-control" datetime-picker
                           ng-model="data.close_at" ng-if="isClosed()" ng-disabled="true" id="close_at"/>

                    <a href="" ng-if="isOpened()" ng-click="closeTest()" class="btn btn-default">Close now</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Closed at</label>

                <div class="col-sm-10">
                    <div class="form-control-static">
                        <input ng-if="isClosed()" type="text" class="form-control" datetime-picker
                               ng-model="data.closed_at" ng-disabled="true"/>
                        <span ng-if="!isClosed()">not yet</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="feedback_timing" class="col-sm-2 control-label">Feedback timing</label>

                <div class="col-sm-10">
                    <select class="form-control" ng-model="data.feedback_timing" id="feedback_timing">
                        <option value="never">Never send feedback</option>
                        <option value="at">Send feedback at</option>
                        <option value="after">Send feedback after</option>
                    </select>
                </div>
            </div>
            <div ng-if="data.feedback_timing=='at'" class="form-group">
                <label for="feedback_at" class="col-sm-2 control-label">Feedback at</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" datetime-picker ng-min="data.close_at"
                           ng-model="data.feedback_at" id="feedback_at"/>
                </div>
            </div>
            <div ng-if="data.feedback_timing=='after'" class="form-group">
                <label for="feedback_after" class="col-sm-2 control-label">Feedback after</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" ng-model="data.feedback_after" id="feedback_after"/>
                    minutes
                </div>
            </div>
            <div class="form-group">
                <label for="invite_method" class="col-sm-2 control-label">Invite method</label>

                <div class="col-sm-10">
                    <select class="form-control" ng-model="data.invite_method" id="invite_method"
                            ng-disabled="!isPlanned()">
                        <option value="link">Using a link to request an access-code</option>
                        <option value="email">By sending an e-mail with an access-code</option>
                        <option value="code">By providing the an access-code manually</option>
                        <option value="login">By logging in</option>
                        <option value="secure">By using an secure access-code</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="invite_url" class="col-sm-2 control-label">Invite URL</label>

                <div class="col-sm-10">
                    <div id="invite_url" class="form-control-static">{{data.invite_url}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="review_method" class="col-sm-2 control-label">Review method</label>

                <div class="col-sm-10">
                    <select class="form-control" ng-model="data.review_method" id="review_method"
                            ng-disabled="!isPlanned()">
                        <option value="automatic">Automatically</option>
                        <option value="manual">Manually</option>
                    </select>
                </div>
            </div>
            <div ng-if="data.review_method=='manual'" class="form-group">
                <label for="review_anonymous" class="col-sm-2 control-label">Review anonymously</label>

                <div class="col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" class="" id="review_anonymous" ng-model="data.review_anonymous"
                                      ng-disabled="!isPlanned()"/>&NonBreakingSpace;</label>
                    </div>
                </div>
            </div>
        </form>

    </tab>
    <tab heading="Results">
        <test-session-list test="data"></test-session-list>
    </tab>
    <tab heading="Permissions">
        <div ng-if="loadingUsers">
            Loading the user list
        </div>
        <div ng-if="!loadingUsers">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Owners</label>

                    <div class="col-sm-10">
                        <div class="row" ng-repeat="owner_id in data.owners track by $index">
                            <div class="form-control-static col-sm-5">{{getUserById(owner_id).fullname}}
                                ({{getUserById(owner_id).username}})
                            </div>
                            <a href="" class="btn btn-default" ng-if="canRemoveOwner(owner_id)"
                               ng-click="deleteOwner($index)">Delete</a>
                        </div>
                        <div class="row">
                            <ui-select class="col-sm-5" ng-model="newOwner.id" theme="bootstrap">
                                <ui-select-match allow-clear="true" placeholder="Enter user to add">
                                    {{$select.selected.fullname}} ({{$select.selected.username}})
                                </ui-select-match>
                                <ui-select-choices repeat="user.id as user in users | filter: filterOwners">
                                    {{user.fullname}} ({{user.username}})
                                </ui-select-choices>
                            </ui-select>
                            <a href="" ng-click="addOwner()" class="btn btn-default">Add</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Reviewers</label>

                    <div class="col-sm-10">
                        <div class="row" ng-repeat="reviewer_id in data.reviewers track by $index">
                            <div class="form-control-static col-sm-5">{{getUserById(reviewer_id).fullname}}
                                ({{getUserById(reviewer_id).username}})
                            </div>
                            <a href="" class="btn btn-default"
                               ng-click="deleteReviewer($index)">Delete</a>
                        </div>
                        <div class="row">
                            <ui-select class="col-sm-5" ng-model="newReviewer.id" theme="bootstrap">
                                <ui-select-match allow-clear="true" placeholder="Enter user to add">
                                    {{$select.selected.fullname}} ({{$select.selected.username}})
                                </ui-select-match>
                                <ui-select-choices repeat="user.id as user in users | filter: filterReviewers">
                                    {{user.fullname}} ({{user.username}})
                                </ui-select-choices>
                            </ui-select>
                            <a href="" ng-click="addReviewer()" class="btn btn-default">Add</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </tab>

</tabset>