<div>
    <div ng-if="state=='loading'">
        Loading test
    </div>
    <div ng-if="state=='error'">
        <h1>Error</h1>

        <p>An unknown error occured. Please try again later.
        </p>
    </div>
    <div ng-if="state=='unknown'">
        <h1>Error</h1>

        <p>Cannot open test. The test is unknown, not yet opened, or closed.
        </p>
    </div>
    <div ng-if="state=='form'">
        <h1>{{test.title}}</h1>

        <div ng-if="test.invite_method=='link'">
            <p>Please provide your e-mailaddress below to request a invite</p>

            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                <input type="email" class="form-control" id="email" placeholder="Enter e-mail" ng-model="inviteData.email">
                <button type="submit" class="btn btn-default" ng-click="requestInvite()">Request invite</button>
                </div>
            </div>
        </div>
    </div>
</div>