<div class="row">
    <div class="page-border col-xs-12" ng-if="state=='loading'">
        Loading
    </div>
    <div class="page-border col-xs-12" ng-if="state=='error'">
        <h2 class="test-heading">Error</h2>
        An error occurred, the test could not be loaded. This could mean that the test is closed and the feedback can not
        be accessed or the access-code was wrong.
    </div>
    <div class="page-border col-xs-12" ng-if="state=='data'">
        <p>Please complete the following data to start the test.</p>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="Firstname Lastname"
                           ng-model="testSession.name">
                </div>
                <label for="student_id" class="col-sm-2 control-label">Student-ID</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="student_id" placeholder="3123456"
                           ng-model="testSession.student_id">
                </div>
                <label for="email" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" placeholder="yourname@example.org"
                           ng-model="testSession.email">
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="" class="btn btn-default" ng-click="dataDone()">Done</a>
                </div>
            </div>
        </form>
    </div>
    <div class="page-border col-xs-8" ng-if="state=='answer'">
        <test test="test" ng-if="test.type=='basic'" test-session="testSession"></test>
        <div ng-if="test.type=='tree'">
            <h2 class="test-heading">{{openElement.title}}</h2>

            <div contentable class="contentable" ng-if="openElement.type=='text'" ng-model="openElement.data"></div>
            <div ng-if="openElement.type=='question'">

            <choice-question ng-if="openElement.data.type=='choice'"
                             data="openElement.data" answer="openAnswer.answer" previous-answers="getPreviousAnswers()" ng-disabled="openElement.maxAnswers && getPreviousAnswers().length>=openElement.maxAnswers"></choice-question>
            <multiplechoice-question ng-if="openElement.data.type=='multiplechoice'"
                                     data="openElement.data" answer="openAnswer.answer" previous-answers="getPreviousAnswers()" ng-disabled="openElement.maxAnswers && getPreviousAnswers().length>=openElement.maxAnswers"></multiplechoice-question>
            <open-question ng-if="openElement.data.type=='open'" data="openElement.data"
                           answer="openAnswer.answer"  previous-answers="getPreviousAnswers()" ng-disabled="openElement.maxAnswers && getPreviousAnswers().length>=openElement.maxAnswers"></open-question>
            <text-question ng-if="openElement.data.type=='text'" data="openElement.data"
                           answer="openAnswer.answer"  previous-answers="getPreviousAnswers()" ng-disabled="openElement.maxAnswers && getPreviousAnswers().length>=openElement.maxAnswers"></text-question>
            <a ng-disabled="((openAnswer.answer==undefined)||(openElement.data.type!='choice'&&openAnswer.answer.length==0))" ng-if="!openElement.maxAnswers || (openElement.maxAnswers && getPreviousAnswers().length<openElement.maxAnswers)" href="" ng-click="answerQuestion()" class="btn btn-success">Answer</a>

            </div>

            <div ng-if="openElement && openElement.type!='route'"
                 ng-repeat="child in openElement.children track by $index">
                <a href="" ng-click="openElementByPath(openPath + '.' + ($index+1).toString() + '.1')">
                    <span contentable class="contentable" ng-model="openElement.child_labels[$index]"></span></a>
            </div>

            <div ng-if="openElement.type=='route'">
                <choice-question data="openElement.data" answer="openAnswer.answer" previous-answers="getPreviousAnswers()" ng-disabled="openElement.maxAnswers && getPreviousAnswers().length>=openElement.maxAnswers"></choice-question>

                <a ng-if="!openElement.maxAnswers || (openElement.maxAnswers && getPreviousAnswers().length<openElement.maxAnswers)" href="" ng-disabled="!hasAnswerElement()" ng-click="openAnswerElement()" class="btn btn-success">Answer</a>
            </div>

            <div ng-if="(!openElement.minAnswers && !openElement.hideNext) || (openElement.minAnswers && getPreviousAnswers().length>=openElement.minAnswers)" class="tree-test-next-buttons">
            <a href="" class="btn btn-primary" ng-if="hasNextElement()" ng-click="preventUnanswered(openNextElement)">Next</a>
            <a href="" class="btn btn-primary" ng-if="!hasNextElement()&&hasUpElement()" ng-click="preventUnanswered(openUpElement)">Up</a>
            </div>
        </div>
    </div>
    <div class="page-border col-xs-12" ng-if="state=='done'">
        <h1 class="test-heading">{{test.title}}</h1>
        Your answers are submitted successfully.

        <span ng-if="test.feedback_timing=='at'">You can see your results at {{test.feedback_at | timeFormat }} by visiting this page again.</span>
        <span ng-if="test.feedback_timing=='after'">Your results will be available
            <span ng-if="test.feedback_after && test.feedback_after < 15">soon</span>
            <span ng-if="test.feedback_after >= 15">after {{test.feedback_after}} minutes</span>
            by visting this page again.
    </div>
    <div class="page-border col-xs-12" ng-if="state=='feedback'&&test.type=='basic'">
        <test-feedback test="test" test-session="testSession"></test-feedback>
    </div>
    <div class="page-border col-xs-8" ng-if="state=='feedback'&&test.type=='tree'">
            <h2 class="test-heading">{{openElement.title}}</h2>

            <div contentable class="contentable" ng-if="openElement.type=='text'" ng-model="openElement.data"></div>
            <div ng-if="openElement.type=='question'">

                <choice-question ng-if="openElement.data.type=='choice'"
                                 data="openElement.data" answer="openAnswer.answer" previous-answers="getPreviousAnswers()" ng-disabled="true"></choice-question>
                <multiplechoice-question ng-if="openElement.data.type=='multiplechoice'"
                                         data="openElement.data" answer="openAnswer.answer" previous-answers="getPreviousAnswers()" ng-disabled="true"></multiplechoice-question>
                <open-question ng-if="openElement.data.type=='open'" data="openElement.data"
                               answer="openAnswer.answer"  previous-answers="getPreviousAnswers()" ng-disabled="true"></open-question>
                <text-question ng-if="openElement.data.type=='text'" data="openElement.data"
                               answer="openAnswer.answer"  previous-answers="getPreviousAnswers()" ng-disabled="true"></text-question>

            </div>

            <div ng-if="openElement.type=='route'">
                <choice-question data="openElement.data" answer="openAnswer.answer" previous-answers="getPreviousAnswers()" ng-disabled="true"></choice-question>
            </div>

    </div>
    <div ng-if="state=='answer'||(state=='feedback'&&test.type=='tree')" class="col-xs-4">
        <div class="page-border">
            Email: {{testSession.email}}<br>
            Name: {{testSession.name}}<br>
            Student-ID: {{testSession.student_id}}<br><br>
            <div ng-if="state=='answer'">
            Last auto-saved <span second-difference ng-model="testSession.updated_at" scale="minutes"></span> minutes ago<br>
            <a href="" ng-click="submit()" class="btn btn-default">Submit answers</a>
            </div>
            <div ng-if="state=='feedback'&&test.type=='tree'">
                <a href="/run/test_session/{{testSession.id}}/answers" target="_blank">Printable answers</a>
            </div>

            <div class="test-tree-container">
            <tree-test-tree ng-if="test.type=='tree'" content="test.content" test-session="testSession" path=""
                            open-element-handler="openElementHandler" is-element-open="isElementOpen"
                            is-element-visited="isElementVisited"></tree-test-tree>
            </div>
        </div>
    </div>
</div>