<h1>Edit Metadata</h1>
<div ng-show="loading">Loading</div>
<div ng-hide="loading">
    <metadata-editor data="data"></metadata-editor>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="" class="btn btn-default" ng-disabled="saving || deleting" ng-click="cancel()">Exit</button>
        <button type="" class="btn btn-default" ng-disabled="saving || deleting" ng-click="save()">Save</button>
        last saved <span am-time-ago="data.last_saved"></span><span ng-if="!data.last_saved">never</span>
    </div>
</div>