<h1>Edit Test</h1>
<div class="form-group">
    <button class="btn btn-default" ng-disabled="saving || deleting" ng-click="cancel()">Exit</button>
    <button class="btn btn-default" ng-disabled="saving || deleting || !data.id" ng-click="delete()">Delete</button>
    <button class="btn btn-default" ng-disabled="saving || deleting" ng-click="save()">Save</button>
    last saved <span am-time-ago="data.last_saved"></span><span ng-if="!data.last_saved">never</span>
</div>
<div ng-show="loading">Loading</div>
<div ng-hide="loading">
    <test-editor ng-if="data.type!='tree'" data="data" open-test-handler="open()" close-test-handler="close()"></test-editor>
    <tree-test-editor ng-if="data.type=='tree'"  data="data" open-test-handler="open()" close-test-handler="close()"></tree-test-editor>
</div>