body {
    margin-bottom: 20px;
}

.contentable {
    overflow: hidden;
}

.editor-question-option-content {
    display: inline-block;
    padding-left: 10px;
    width: 90%;
}

.editor-question-option {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.editor-question-option input {
    vertical-align: top;
}

.question-option-content {
    display: inline-block;
    padding-left: 10px;
    width: 90%;
}

.question-option {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.question-option input {
    vertical-align: top;
}

.question-list-question {
    border: solid 1px #CACACA;
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
}

.test-tree {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.test-tree-option {
    background-image: url('/admin/static/img/arrow_branch_down.png');
    background-repeat: no-repeat;
    background-position: 0px top;
    padding-left: 16px;
}

.test-tree-options {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.test-tree-simple-element {
    background-image: url('/admin/static/img/arrow_down.png');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 16px;
}

.test-tree-branch-element {
    background-image: url('/admin/static/img/arrow_down.png');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 16px;
}
.test-tree-add-element {
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 16px;
}

.editable {
    border: dotted 2px gray;
    overflow: hidden;
}

.content-editor {
    position: absolute;
    display: block;
    background-color: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}